// #ff7f50 (테두리색) #222 (글자색) #eee(배경색)
//#ffe4c4(best) #000080(주문) #aaa(글자색2)
//변수
$wh: #fff;
$border:#ff7f50;
$fontColor:#222;
$fontColor2:#aaa;
$bgColor:#eee;
$bestColor:#ffe4c4;
$orderColor:#000080;
//mixin
@mixin flex-center {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
//--------------------------------------
//--------------------------------------skip 
/* .lang, .all_nav, .sub {display:none;} */
//--------------------------------------design
#popup {
    background-color: $bgColor; text-align: center; padding: 20px 0; font-weight: 700;
    font-size: 0.91rem;
    a {}
}
header { margin: 0 auto; width:1200px;
    .top {/*  display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 35px 15px; */
        position: relative;
        h1 {text-align: center; padding: 50px 0;
            a{
                img {} /* img:e */
            }
        }
        .right { background: pink;
            @include flex-center;
            position:absolute; right:0; bottom:15px;
            li {
                .lang {
                    display: block;
                    position: absolute;
                    left:-50%;
                    border: 1px solid $fontColor2;
                    background: $wh;
                    z-index: 910;
                    a {margin:5px; font-size: 0.84rem;} /* a:e */
                    display: block;
                }
                a {position: relative;
                    text-transform: uppercase;
                    padding:10px 7px; display: block; 
                    span {
                        padding:3px 10px; border: #ff7f50 solid 2px; font-size: 0.84rem; border-radius: 5px; 
                        position: absolute; left:-50%; top: 28px; width: max-content; /* 너비 100% 주면 부모값을 인식해서 세로로 쭉 길어짐 */
                    } /* span:e */
                    img {} /* img:e */
                }
            }
            li:first-child {margin:0; position: relative;
                >    a::after {
                    content:''; display: inline-block;
                    background: url(../images/arr.png) no-repeat;
                    width:10px; height:10px; margin-left: 7px;
                }
            }
        }
        .all_nav { display:block; background: $wh;
            border: 1px solid $fontColor2; border-radius: 10px;
            position: fixed; left: 50%; top: 50%;
            width:700px; height:500px; z-index:999;
            transform: translate(-50% , -50%);
            text-align: center;
            a:first-child {line-height:500px;}
            a {} /* a:e */
            .close {
                position:absolute; right:20px; top:20px;
                font-size: 1.5rem; font-weight: 700;
            } /* .close:e */
        }
    }
    .btm {
        .nav {
            > ul {@include flex-center;
                > li { position:relative;
                    > a {
                        font-size: 0.8rem;
                        text-transform:uppercase;
                        padding: 15px;
                        font-weight: 700;
                        display: block;
                    }
                    > a:hover {color: $border;}
                    .sub { 
                        display: block;
                        position: absolute;
                        background: $wh; width:100%; z-index: 900;
                        border: 1px solid $fontColor2;
                        li {
                            a {padding: 10px; display: block;} /* a:e */
                        }
                    }
                }
            }
        }
    }
}//header:e
main {
    #right_popup {
        position:fixed;
        display: flex;
        flex-flow: row nowrap;
        right:0px; top:0px;
    // #right_popup { position:fixed; right:0; top:0;
    //     display:flex; align-items:center;
        #popup_btn {
            width:30px;
            //background:#fff; width:30px;
            //border:1px solid $fontColor2;
            //display:flex; flex-flow:column;
            a { display: block;
                border-bottom: 1px solid $fontColor2;
                background: $wh;
                position:relative; left:right; top:500px;
                text-align: center;
                line-height: 30px;
                img:nth-child(1) {
                    width:20%;
                }
            }
            a:first-child {background:$border;}
            a:nth-child(2) img {width:70%;}
            a:nth-child(3) img {width:70%;}
            a:nth-child(4) img {width:30%;}
            a:nth-child(5) img {width:30%;}
        }
        .contents { border: 1px solid $fontColor;
            height:100vh;
            background:$wh; width:500px;
            padding: 20px;
            //background:#fff; width:500px; height:100vh;
            //border:1px solid $fontColor2; padding:30px;
            .info {   text-align: center;
                img{}}
            .info_contents {
                text-align: center;
                margin: 30px auto;
                line-height: 1.5;
                color:$fontColor2;
                font-weight: 600;
            }
            .user {
                display:grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(2,1fr);
                //display:flex;
                //flex-flow:row wrap;
                a{font-weight: 600;
                    //width:50%; border-bottom:1px solid $fontColor2;
                    //text-transform:uppercase; padding:10px 5px;
                    margin-top: 7px;
                    
                    
                    span{ color: $border;
                        font-weight: 600;
                        
                    }}
                a::after {content: ''; display: block; width: 200px; height:1px; margin-top: 7px;
                background-color: $fontColor;}
            
            }
            .board {
                display:grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(4,1fr);
                margin: 30px auto;
                a{
                    padding-bottom: 5px; font-weight: 600; margin-top: 7px;
                }
                a::after {content: ''; display: block; width: 200px; height:1px; margin-top: 7px;
                    background-color: $fontColor;}}
            h2 {margin: 15px auto; font-weight: 800; font-size: 1.1rem;}
            h2+p {img{width:40%;}}
            address {margin: 15px auto; font-size:2.5rem;}
            address+p {line-height: 1.5; font-weight: 800;}
            
        }
    }//#right_popup end
    .visual {img{width:100%;}}//visual end
    .campaign1 { display:grid;
        grid-template-columns: repeat(3,22%);
        justify-content: center;
        /* width: 1200px;
        display:grid; grid-template-columns:repeat(3, 33%);
        justify-content:space-between; padding:100px 0; */
        p { margin: 75px 10px;
            a {width:33%;
                img {width:100%;
                }
            }
        }
        p:last-child {
        }
    }
    .week {text-align: center; margin: 0px 0 75px 0; font-weight: 800;}
    .campaign2 {
        display:grid;
        grid-template-columns:repeat(3,22%);
        grid-template-rows: repeat(2,1fr);
        justify-content: center;
        .menu {margin: 3px 15px 75px 0;
            .m_t {
                p {
                    a {
                        img {width:100%;}
                    }
                }
                h1 {margin: 10px 0; font-size: 0.8rem;}
                h2 {padding-bottom: 30px;
                    border-bottom: 1px solid $fontColor;
                    span {
                        font-weight: 800;
                    }
                }
            }
            .m_btm {
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                p:nth-child(1) {
                    display:flex;
                    flex-flow:row nowrap;
                    justify-content: space-between;
                    margin: 10px 0; 
                    span:first-child {font-weight: 800;}
                    span:last-child {
                        color: #ff7f50;
                    }
                }
                p:nth-child(2) {
                    span:first-child {background-color: $bestColor; color:$wh; margin-right: 5px; padding:3px;}
                    span:last-child {background-color: $orderColor; color:$wh; padding: 3px;}
                    
                }
                p {
                span {font-size: 0.7rem;}
                }
            }
        }
    }
    .campaign3 {  background: url(../images/made_img.jpg); height:300px; position: relative;
        background-position: center;
        margin-bottom: 100px;
        .cam3 { position: absolute; left: 700px; top: 100px; text-align: center;
            h1 {font-size: 3rem; font-weight: 800; color: $wh;}
            p {margin-top: 30px;
                a {color: $wh; border: $wh 1px solid; padding: 15px; font-weight: 600;}
            }
        }
    }
}//main end
footer { border-top: 1px $fontColor solid;
    padding: 50px 250px; 
    .ft_t {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        p { margin-right: 15px;
            a {font-size: 0.8rem;}
        }
        p:nth-child(1){a {color:$fontColor2;}}
        p:nth-child(2){}
        p:nth-child(3){a {color:$fontColor2;}}
        p:last-child {margin:0; a {color:$fontColor2;}}
    }
    .ft_btm {margin-top: 20px;
        address {font-size: 0.8rem; line-height: 1.5;}
        p {font-size: 0.8rem; margin-top:5px;}
    }
}